services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - NGROK_API_URL=http://ngrok:4040
      - NGROK_URL=${NGROK_URL:-}
      - TIMEOUT_SECONDS=10
    depends_on:
      - ngrok

  ngrok:
    image: ngrok/ngrok:latest
    ports:
      - "4040:4040"

    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
      NGROK_REGION: us

    extra_hosts:
      - "host.docker.internal:host-gateway"

    command: http --log=stdout host.docker.internal:8000
